@use 'sass:color';
@use 'sass:list';
////@import '../partials/variables';
//
//@font-face {
//  font-family: "My font";
//  src: local("My font"),
//  url("../australia_custom/Australia Custom.woff") format("woff"),
//  url("../australia_custom/Australia Custom.woff2") format("woff2");
//}
//
//
////* {
////  box-sizing: border-box;
////  margin: 0;
////  padding: 0;
////}
//
//
//.container {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 100vh;
//  width: 100vw;
//
//  //
//  //@for $i from 1 through 10 {
//  //  .box-#{i} {
//  //    width: 100px;
//  //    height: 100px;
//  //    border: 1px solid blue;
//  //  }
//    .box-#{i}:nth-child(odd) {
//      background-color: mediumpurple;
//    }
//  .box-1 {
//    background-color: mediumpurple;
//  }
//  }
//.box{
//  width: 10px;
//  height: 100px;
//  border: 2px solid blue;
//  font-family: $primary-font;
//}
//.box-#{i}:nth-child(odd) {
//  background-color: mediumpurple;
//}
//
//
//
//
//
//.span {
//  font-family: "My font", sans-serif;
//  color: blue;
//}
//
//

//
//body {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 100vh;
//}

//p {
//  width: 100%;
//  background-color: #fff;
//  font-family: 'Roboto', sans-serif;
//}

// cwiczenia z flex-shrink i flex-grow
//.posit {
//  height: 100vh;
//  width: 100vw;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//
//  .fox {
//    display: flex;
//    justify-content: center;
//    border: 2px solid black;
//    padding: 20px;
//    width: 50%; // też działa
//    //width: 500px;
//    height: 50%; // też działa
//    //height: 300px;
//
//    $color-list: #FF5733 #FFBD33 #DBFF33 #75FF33;
//    @for $i from 1 through 4 {
//      .element-#{$i} {
//        background-color: list.nth($color-list, $i);
//      }
//    }
//    .el {
//      flex-grow: 1;
//      //flex-shrink: 1;
//      flex-basis: 100px;
//      border: 1px solid blue;
//    }

//.element-1 {
//  flex-grow: 1;
//}

//.element-2 {
//  flex-shrink: 1;
//}
//
//.element-3 {
//  flex-grow: 1;
//}

//.element-4 {
//  flex-grow: 2;
//}
//
//  }
//}


////cwiczenie position relative i absolute oraz centrowanie kółka
//
//.fox {
//  border: 2px solid blue;
//  width: 500px;
//  height: 500px;
//  position: relative;
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//  align-items: center;
//
//  .el {
//    width: 50%;
//    height: 50%;
//    flex-wrap: wrap;
//  }
//
//  @for $i from 1 through 4 {
//    .element-#{$i} {
//      background-color: color.scale(green, $lightness: 8% * $i);
//    }
//  }
//    .element-1 {
//      position: relative;
//      top: 100px;
//      left: 100px;
//    }
//  }
//  .circle {
//    border-radius: 50%;
//    width: 200px;
//    height: 200px;
//    background-color: red;
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//  }
//}


//div strong:nth-child(2) {
//  color: red;
//}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 100px;
    background-color: black;
    //flex-grow: 1; //wowczas rozciagnie kreski na cala dlugosc bo rodzic nie ma nadanych wymiarow
  }

  strong {
    color: mediumpurple;
    font-size: 20px;
    display: inline-block;
    padding: 0 10px 0 10px;
  }
}


* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;

  .row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    $columns: 12;
    $column-base-width: 100% / $columns; //8,333%

    [class*='col-'] {
      min-height: 1px;
      width: $column-base-width;
      padding: 10px;
    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $column-base-width * $i;
      }
    }

    @media (max-width: 550px) {
      [class*='col-'] {
        width: 100%;
      }
    }
  }
}

@for $i from 1 through 5 {
  $colors: #FF5733 #FFBD33 #DBFF33 #75FF33 dodgerblue;

  .element-#{$i} {
    background-color: list.nth($colors, $i);

  }
}

@for $i from 1 through 4 {
  .element-zag-#{$i} {
    background-color: color.scale(pink, $lightness: (20% * $i));
  }
}


//
//[class*=element-zag-] {
//  background-color: #ffc6d0;
//  border: 1px solid black;
//}

//@mixin headerFont($font) {
//  font-size: $font;
//  border-radius: 5px;
//
//}
//
//.header {
//  @include headerFont(50px);
//  border: 1px solid blue;
//}
//
//@mixin dialogBox($backgroundColor, $width) {
//  width: $width;
//  padding: 10px;
//  background: $backgroundColor;
//  border: 1px solid black;
//  margin: 40px auto;
//  position: relative;
//  &:after {
//    content: "";
//    width: 10px;
//    height: 10px;
//    background-color: $backgroundColor;
//    border: 1px solid black;
//    position: absolute;
//    top: 2px;
//    left: 50%;
//    transform: rotate(45deg) translate(-50%, -50%);
//  }
//}
//
//.header {
//  @include dialogBox(green, 300px);
//  }


@mixin disableHover() {

  &:hover {
    background-color: #FF5733;
    transition: 0.5s;
  }
  @content;
}

.header {


  @include disableHover() {
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: dodgerblue;
    color: black;
    cursor: pointer;
  }

}


@mixin setTooltip($string, $color) {
    li:hover::after {
      content: $string;
      background-color: $color;
      opacity: 0.8;
      color: black;
      padding: 5px 20px;
      width: 100px;
      height: 15px;
      border-radius: 5px;
      position: relative;
      left: 10px;

    }
  }


.list {
  @include setTooltip("tooltip", pink);
}