@use 'sass:color';
@use 'sass:list';
////@import '../partials/variables';
//
//@font-face {
//  font-family: "My font";
//  src: local("My font"),
//  url("../australia_custom/Australia Custom.woff") format("woff"),
//  url("../australia_custom/Australia Custom.woff2") format("woff2");
//}
//
//
////* {
////  box-sizing: border-box;
////  margin: 0;
////  padding: 0;
////}
//
//
//.container {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 100vh;
//  width: 100vw;
//
//  //
//  //@for $i from 1 through 10 {
//  //  .box-#{i} {
//  //    width: 100px;
//  //    height: 100px;
//  //    border: 1px solid blue;
//  //  }
//    .box-#{i}:nth-child(odd) {
//      background-color: mediumpurple;
//    }
//  .box-1 {
//    background-color: mediumpurple;
//  }
//  }
//.box{
//  width: 10px;
//  height: 100px;
//  border: 2px solid blue;
//  font-family: $primary-font;
//}
//.box-#{i}:nth-child(odd) {
//  background-color: mediumpurple;
//}
//
//
//
//
//
//.span {
//  font-family: "My font", sans-serif;
//  color: blue;
//}
//
//

//
//body {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 100vh;
//}

//p {
//  width: 100%;
//  background-color: #fff;
//  font-family: 'Roboto', sans-serif;
//}


.posit {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;


  .fox {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
    width: 50%; // też działa
    //width: 500px;
    height: 50%; // też działa
    //height: 300px;

    $color-list: #FF5733 #FFBD33 #DBFF33 #75FF33;
    @for $i from 1 through 4 {
      .element-#{$i} {
        background-color: list.nth($color-list, $i);
      }
    }
    .el {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 400px;
      border: 1px solid blue;
    }

    .element-1 {
      flex-grow: 6;
    }

    .element-2 {
      flex-shrink: 2;
    }

    .element-3 {
      flex-shrink: 4;
    }

    .element-4 {
      flex-shrink: 8;
    }

  }
}


//  @mixin flex-set($flex-shrink, $flex-grow) {
//  flex-shrink: $flex-shrink;
//    flex-grow: $flex-grow;
//    @content;
//}